// Variables
$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);
$Tomato: hsl(4, 100%, 67%);

// Global Rules
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $Charcoal-Grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: unset;
}

.faded {
  opacity: 0;
  transform: translateY(-30px);
  z-index: -1;
}

// Desktop View

// Main
main {
  background-color: $White;
  width: 60%;
  padding: 20px;
  border-radius: 25px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  box-shadow: 0 20px 50px -5px $Dark-Slate-Grey, 0 20px 50px 0 $Charcoal-Grey;

  section,
  picture {
    transition: 0.1s 0.2s;
  }

  section {
    padding: 3.8rem 2rem;
    display: grid;
    gap: 15px;
    flex-basis: 50%;

    h1 {
      font-size: 3.5rem;
      color: $Dark-Slate-Grey;
    }

    h1 + p {
      color: $Charcoal-Grey;
      line-height: 1.5;
    }

    .features {
      display: grid;
      gap: 10px;

      div {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: nowrap;
      }
    }

    form {
      margin-top: 20px;
      position: relative;

      label {
        color: $Dark-Slate-Grey;
        font-weight: bold;
        font-size: 14px;
      }

      small {
        font-size: 14px;
        position: absolute;
        right: 0;
        font-weight: 700;
        color: $Tomato;
        transition: 0.2s;
        opacity: 0;
        user-select: none;
      }

      input {
        display: block;
        margin-block: 10px;
        width: 100%;
        padding: 18px 20px;
        border: 1px solid #9294a085;
        border-radius: 8px;
        font-size: 18px;
        color: #757575;
        transition: 0.2s;

        &.error {
          background-color: #fbe9e7;
          color: $Tomato;
          border-color: $Tomato !important;
        }

        &::placeholder {
          color: #9294a07a;
          transition: 0.2s;
        }

        &:focus {
          outline: none;
          border-color: $Grey;

          &::placeholder {
            opacity: 0;
          }
        }
      }
      button {
        width: 100%;
        border-radius: 8px;
        background: linear-gradient(
          to right,
          $Dark-Slate-Grey 100%,
          hsl(345.84deg 100% 65.09%),
          $Tomato
        );
        color: $White;
        padding: 18px 30px;
        margin-top: 10px;
        border: none;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background: linear-gradient(
            to right,
            hsl(345.84deg 100% 65.09%),
            $Tomato
          );
          box-shadow: 0 20px 20px -10px hsla(4, 100%, 67%, 0.489);
        }
      }
    }
  }
}

// Success Message
.success-message {
  position: absolute;
  padding: 40px 50px;
  background-color: $White;
  border-radius: 25px;
  width: 31%;
  display: grid;
  grid-gap: 30px;
  transition: .5s;
  box-shadow: 0 20px 50px -5px $Dark-Slate-Grey, 0 20px 50px 0 $Charcoal-Grey;

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  p {
    color: $Charcoal-Grey;
    line-height: 1.5;

    span {
      font-weight: bold;
    }
  }

  button {
    padding: 15px 30px;
    color: $White;
    background-color: $Dark-Slate-Grey;
    border: none;
    border-radius: 6px;
    margin-block: 10px;
    cursor: pointer;
    transition: .2s;
    max-height: 48.2px;

    a {
      width: 100%;
    }
  
    &:hover {
      background: linear-gradient(
        to right,
        hsl(345.84deg 100% 65.09%),
        $Tomato
      );
      box-shadow: 0 20px 20px -10px hsla(4, 100%, 67%, 0.489);
    }
  }
}

// Responsive
@media (max-width: 767px) {
  body {

    main {
      width: 100%;
      flex-direction: column;
      flex-flow: column-reverse;
      padding: 0;
      border-radius: 0;

      section {
        gap: 25px;
        padding-top: 20px;

        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 20px;
        }

        .features {
          div {
            align-items: flex-start;
          }
        }
      }

      picture {
        img {
          width: 100%;
          display: block;
        }
      }
    }

    .success-message {
      width: 100%;
      height: 100%;
      gap: 0;
      border-radius: 0;
      place-content: space-evenly;
    }
  }
}

@media (max-width: 1286px) {
  main {
    width: 98%;
  }

  .success-message {
    width: 50%;
  }
}
